# More For Loop Practice

In [55]:
# Run without changes
import pandas as pd
import numpy as np

data = pd.read_excel('data/Video Games Sales.xlsx').dropna()
data.head()

,Rank,Game Title,Platform,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Review
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,40.43,28.39,3.77,8.54,81.12,76.28
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,91.00
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,14.50,12.22,3.63,3.21,33.55,82.07
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,14.82,10.51,3.18,3.01,31.52,82.65
4,5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,88.00

# New Activities

## Task 1: More Loops

How many Sports and Racing Games in the dataset?

In [52]:
genres = list(data['Genre'])

### Task 2: Zipping

Create a list of names of games which have a review greater than or equal to 90.0.

In [34]:
titles = list(data['Game Title'])
reviews = list(data['Review'])

## Task 3: Dictionaries

Create a dictionary where each key is a score category: 'high', 'medium', 'low', and the values are the game names that fit into each category.  
- High:   r >= 90.0
- Medium: 70 <= r < 90
- Low:    r < 70

### Task 4: Dictionaries

Create a dictionary which has Publisher as keys and a second dictionary as values. The second dictionary should have genre as keys and the count of each genre as values.

In [35]:
# Run cell with no changes

# Loop over these lists
genres = list(data['Genre'])
publishers = list(data['Publisher'])

In [36]:
# Replace None with the appropriate value

publisher_genre_counts = None

# your code here

In [37]:
#__SOLUTION__
# unique publishers
unique_publishers = set(publishers)

unique_genres = set(genres)

publisher_genre_counts = {pub:{gen:0 for gen in unique_genres}
                          for pub in unique_publishers} 

for g, p in zip(genres, publishers):
    publisher_genre_counts[p][g] += 1

In [38]:
assert publisher_genre_counts['Nintendo']['Role-Playing'] == 38
assert publisher_genre_counts['Electronic Arts']['Action'] == 22
print('You have the correct counts for genres per platform')

You have the correct counts for genres per platform